<div class="container">
  <div style="display: flex; margin: 0 auto; justify-content: center;">
    <div class="astrum">
      astrum
    </div>
    <div class="point"></div>
    <div class="studio">Studio</div>
  </div>
  
  <div class="description">
    Генерация виральных клипов
  </div>
  
  <div style="height: 50px;"></div>
  
  
  
  <div *ngIf="!showResult && !showSettings">
    <div class="instruction">
      Загрузите свое видео, а мы сделаем из него множество интересных клипов с нужными вам настройками.
    </div>

    <div style="text-align: center; margin: 0 auto; margin-top: 30px;">
      <div class="upload-container" (click)="fileInput.click()">
        <input 
          type="file" 
          #fileInput 
          accept="video/*" 
          (change)="onFileSelected($event)" 
          style="display: none;" 
        />
        <ng-container *ngIf="!isVideoUploaded; else uploadedTemplate">
          <p>Перетащите видео сюда или нажмите для выбора файла</p>
        </ng-container>
        <ng-template #uploadedTemplate>
          <p>Видео загружено ✅</p>
        </ng-template>
      </div>
      <!-- <button class="upload_btn" (click)="settings()">
        Загрузить видео
      </button> -->
    </div>

    <button class="upload_btn" (click)="settings()" style="margin-top: 30px;">
      Продолжить
    </button>
  </div>
  
  <div *ngIf="!showResult && showSettings">
    <div style="display: flex; margin: 0 auto; justify-content: center;">
      <div (click)="showSizesEvent()" class="drop_menu">
        {{modelSizesSelected}}
      </div>
    </div>

    <div style="height: 10px;"></div>

    <div *ngIf="showSizes"
      style="display: flex; flex-direction: column; align-items: center; margin: 0 auto; z-index: 99; position: absolute; left: 50%; transform: translateX(-50%);">
      <div *ngFor="let item of modelSizes" (click)="modelSizeSelected(item)" class="drop_menu_element">
        {{item}}
      </div>
    </div>
    
    
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
      <div class="toggle-switch" [class.active]="video.subtitles" (click)="toggleSubtitles()"></div>
      <div class="settings_text" style="margin-left: 15px;">
        Добавить субтитры
      </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
      <div class="toggle-switch" [class.active]="video.phone_format" (click)="togglePhone()"></div>
      <div class="settings_text" style="margin-left: 15px;">
        Формат видео 9:16 (вертикальное видео)
      </div>
    </div>

    <div *ngIf="video.phone_format" style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
      <div class="toggle-switch" [class.active]="video.face_tracking" (click)="toggleFace()"></div>
      <div class="settings_text" style="margin-left: 15px;">
        Трэкинг лица (слежение камеры за лицом в кадре)
      </div>
    </div>
    
    <div style="margin-top: 50px;">
      <button class="upload_btn" (click)="upload()">
        Начать генерацию
      </button>
    </div>
    
    <div>
      <button style="margin-top: 10px;" class="inverse_btn" (click)="again()">
        Назад
      </button>
    </div>
    
    
  </div>
  
  <div *ngIf="showResult && !showSettings">

    <div>
      <div style="display: flex; margin: 0 auto; justify-content: center;">
        <div class="loader"></div> 
      </div>
      <div style="height: 10px;"></div>
      <div class="settings_text">
        Собираем результат для вас...
      </div>
      <div class="settings_text">
        Это может занять до 99 лет
      </div>
  
      <div class="description">
        Вот что у нас получилось:
      </div>
    </div>

    <div>
      <div style="margin-top: 10px; text-align: center;">
        <button class="upload_btn">
          Скачать архив
        </button>
      </div>
    
      <div style="margin-top: 10px; text-align: center;">
        <button class="inverse_btn" (click)="again()">
          Загрузить еще видео
        </button>
      </div>
    </div>
  </div>
  
</div>